~version: "2.0"

?exists: //article[@data-story-id]

body: //div[contains(@class, "story__typography")]

title: //span[contains(@class, "story__title-link")]

author_name: //article[@data-story-id]/@data-author-name

date: //time[contains(@class, "story__datetime")]/@datetime

cover: //img[@data-large-image][1]
